.cart {
    display: flex;
    /* height: 30%; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

img {
    /* height: 30%; */
    /* width: 30%; */
}